.title {
    color: black;
    z-index: 2;
    position: absolute;
    font-size: 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    left: 50%;
    /* top: 30%; */
    transform: translate(-50%, -25%);
}


.webgl {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 0;
}

.content-item {
    width: 78px;
    text-align: center;
    color: black;
    list-style: none;
}

nav {
    z-index: 2;
    position: relative;
    /* padding: 4rem 8rem; */
    display: flex;
    justify-content: space-between;
    top: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    padding: 0;
}


nav a {
    text-decoration: none;
    color: black;
}

.project,
.about,
.contact {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
}

.mobile-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.content-list {
    color: black;
    z-index: 2;
    position: absolute;
    font-size: 0.8rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -75%);
}

@media (max-width: 511px) {
    .title {
        font-size: 1rem;
        top: 10%;
    }

    nav ul {
        flex-direction: column;
        gap: 7rem;
    }

}