.project-container-li {
    font-family: 'IBM Plex', 'Serif';
    font-weight: 100;
    border: 1px white solid;
    height: 50rem;
    width: 35rem;
    padding: 10px;
    margin: auto;
    top: 38rem;
    margin-bottom: 20px;
}

.project-p {
    border-bottom: 1px white solid;
    padding: 10px;
}

.project-container-img {
    align-items: center;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}